{% extends 'ShopMainBundle::layout.html.twig' %}

{% block content %}
	<h3>Lista dostępnych katergorii filmów</h3>
	<ul>
	{% for item in movies %}
		<li> {{ item.title|upper }} - {{ item.content }} </li>

	{% endfor %}
{% endblock %}