{% extends 'ShopMainBundle::layout.html.twig' %}

{% block content %}
	<div class="panel panel-default">

		<div class="panel-heading"><h4>Lista wszystkich kategorii</h4></div>
		<div class="panel-body">
			<a href="{{ path('shop_main_categories_create') }}" class="btn btn-primary" role="button">Dodaj kategorię</a>
		</div>


		{#<!-- Table -->#}
		<table   class="table table-striped table-bordered"   >

			<tr>

				<td><b>No.</b></td>
				<td><b>Kategoria</b></td>
				<td><b>Kasowanie</b></td>

			</tr>
			{% for item in movies %}
				<tr>
					<td style="width: 70px">{{ loop.index }}</td>
					<td>{{ item.name }}</td>
					<td style="width: 80px">
						<a href="{{ path('shop_main_categories_delete', {'id': item.id}) }}" onClick="return confirm('Napewno chcesz usunać?')" class="btn btn-primary btn-sm" role="button">Skasuj</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
