{% extends 'ShopMainBundle::layout.html.twig' %}

{% block content %}
	<h1>Lista Filmów</h1>
	<ul>
	{% for item in movies %}
		<li> {{ item.lastName }}  {{ item.firstName }}
			<ul>
				<li>    </li>
		</li>

	{% endfor %}
{% endblock %}