{% extends 'ShopMainBundle::layout.html.twig' %}

{% block content %}
	<h3>Lista wszystkich aktorów</h3>
	<ul>
	{% for item in movies %}
		<li> {{ item.lastName }}  {{ item.firstName }}

		</li>

	{% endfor %}
{% endblock %}