{% extends 'ShopMainBundle::layout.html.twig' %}

{% block content %}
	{#<h1>To sa feedy {{ name }}</h1>#}

	{#<ul>#}
	{#{% for feed in feeds %}#}
		{#<li>#}
			{#<img src="{{ feed.picture }}" />#}
			{#<p>{{ feed.about }}</p>#}
		{#</li>#}
	{#{% endfor %}#}
	{#</ul>#}
	{##}
{% endblock %}