{% extends 'ShopMainBundle::layout.html.twig' %}

{% block content %}
	<h1 class="col-md-offset-4 col-centered">Dodaj film</h1>
	
		<button class="col-md-offset-6 col-centered" type="submit">Dodaj Wpis</button>










	</form>
{% endblock %}
