{% extends 'ShopMainBundle::layout.html.twig' %}

{% block content %}
	<h1>Dodawanie komentarza!</h1>
	{#<form method="POST">#}
		{#{{ form_row(form) }}#}
		{#<button type="submit">Dodaj Tag</button>#}
	{#</form>#}
{% endblock %}