{% extends 'ShopMainBundle::layout.html.twig' %}

{% block content %}
	<h1>Lista Filmów</h1>
	<ul>
	{% for item in movies %}
		<li> {{ item.title|upper }} - {{ item.content }} </li>

	{% endfor %}
{% endblock %}