{% extends 'ShopMainBundle::layout.html.twig' %}

{% block content %}


    <p>
        <h3>Pomyślnie dodano produkt do koszyka!</h3>
        <br>
    </p>
    <br>

    <a class="btn btn-success btn-lg pull-right" type="button" role="button" style="paddingt: 20px; margin: 10px" href="{{ path('shop_main_current_user_cart') }}" >Przejdź do koszyka</a>
    <a class="btn btn-success btn-lg pull-right" type="button" role="button" style="paddingt: 20px; margin: 10px" href="{{ path('shop_main_movies_details', {'id': id}) }}" >Powrót</a>



{% endblock %}